@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li{
  list-style-type: none;
}

input:focus{
  outline: none;
}

::-webkit-scrollbar-track{
  background: rgba(255, 255, 255, 0.23);
}

::-webkit-scrollbar-thumb{
  background: white;
  height: 10%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.logo_shadow{
  text-shadow: 1px 1px 4px #ffffff;
}

.lg_logo_shadow{
  text-shadow: -2px 0 #aaa, 0 2px #aaa, 2px 0 #aaa, 0 -2px #aaa;
}

.logo_shadow_menu{
  text-shadow: -0.7px -0.7px 0 #9A2D2F, 0.7px -0.7px 0 #9A2D2F, -0.7px 0.7px 0 #9A2D2F, 0.7px 0.7px 0 #9A2D2F;
}

.sm_logo_shadow_menu{
  text-shadow: -0.5px -0.5px 0 #9A2D2F, 0.5px -0.5px 0 #9A2D2F, -0.5px 0.5px 0 #9A2D2F, 0.5px 0.5px 0 #9A2D2F;
}

/* utils */
.flex_col{
  @apply flex flex-col;
}

/* component's utils */
.white-shadow-box {
  @apply bg-white border rounded-md shadow-md
}

.flex-center{
  @apply flex items-center justify-center;
}

.flex-between{
  @apply flex items-center justify-between;
}

.order-box-layout{
  @apply flex flex-col gap-6 py-4 px-8;
}

.order-box-title{
  @apply border-b-[3px] pb-4 font-bold text-lg;
}