@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li{
  list-style-type: none;
}

input:focus{
  outline: none;
}

::-webkit-scrollbar-track{
  background: rgba(255, 255, 255, 0.23);
}

::-webkit-scrollbar-thumb{
  background: white;
  height: 10%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.logo_shadow{
  text-shadow: 1px 1px 4px #9A2D2F;
}

.logo_shadow_menu{
  text-shadow: -0.7px -0.7px 0 #9A2D2F, 0.7px -0.7px 0 #9A2D2F, -0.7px 0.7px 0 #9A2D2F, 0.7px 0.7px 0 #9A2D2F;
}